.CV {
    margin: 100px
}

.DescripcionPersonal {
    margin: 100px
}

.Educacion {
    margin: 100px
}

.Experiencia {
    margin: 100px
}

.Skills {
    margin: 100px
}

.Hobbies {
    margin: 100px;
}

.Henry {
    margin: 100px
}

